#gameContainer {
    position: absolute;
    width: 520px;
    height: 520px;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#elementsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tank {
    width: 40px;
    height: 40px;
    background-image: url(tankImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 480px;
    left: 160px;
}

#tankSecond {
    width: 40px;
    height: 40px;
    background-image: url(tankImage2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 320px;
    transform: rotate(180deg);
}

.bullet {
    width: 5px;
    height: 5px;
    background-color: #0f0;
    position: absolute;
}


.bulletTop {
    width: 5px;
    height: 10px;
    background-color: #0f0;
    position: absolute;
}

.bulletLeft {
    width: 10px;
    height: 5px;
    background-color: #0f0;
    position: absolute;
}

.obstacle2 {
    width: 39px;
    height: 39px;
    background-image: url(block2.png);
    background-size: 40px 40px;
    position: absolute;
}

.water.obstacle2 {
    width: 40px;
    height: 40px;
    background-image: url(blockWater.jpg);
    background-size: 40px 40px;
    position: absolute;
}

.breakable.obstacle2 {
    width: 39px;
    height: 39px;
    background-image: url(block.png);
    background-size: 40px 40px;
    position: absolute;
}

#gameCanvas {
    border: 1px solid #ffffff;
}
